<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
  <add key="BackendID" value="GameBackend" />
  <add key="Url" value="https://localhost:5001/JackpotCove/Invoke" />
  <add key="FrontEndDirPath" value="..\FrontEnd\" />
  <add key="BackEndDirPath" value="..\BackEnd\" />
  <add key="StoragePath" value="..\BackEnd\storage.json" />
 </appSettings>
</configuration>